In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Creating path shortcut
path = r'C:\Users\Longus\Documents\26-02-2023 Instacart Basket Analysis'

In [3]:
#Importing 'products_checked.csv'
df_products = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','products_checked.csv'),index_col = False)

In [4]:
#Importing 'orders_checked.csv'
df_orders = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','orders_checked.csv'),index_col = False)

In [8]:
#Importing 'order_products_prior.csv'
df_orders_prior = pd.read_csv(os.path.join(path,'02 Data','Original Data','order_products_prior.csv'),index_col = False)

In [9]:
df_orders_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [10]:
df_orders_prior.shape

(32434489, 4)

In [11]:
df_orders.shape

(3421083, 9)

In [12]:
#Creating a new merged dataframe
df_merged_large = df_orders.merge(df_orders_prior, on = 'order_id', indicator = True)

In [13]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [14]:
#Checking if we have a full match
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [16]:
df_merged_large2 = df_orders.merge(df_orders_prior, on = 'order_id', how = 'outer', indicator = True)

In [18]:
df_merged_large2['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [19]:
df_merged_large2.shape

(32640698, 13)

In [20]:
df_merged_large.shape

(32434489, 13)

In [21]:
# Export 'df_merged_large' to pkl
df_merged_large.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))